.container-item-list{
    height: calc(100vh - 150px);
    min-width: 70vw;
    border: 1px solid rgba(0, 0, 0, 0.100);    border-radius: 15px ;
    padding: 15px 0;
}

.title-item-list{
    text-align: center;
}
