.containerItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: rgba(0, 0, 0, 0.263) 4px solid;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.443);
    width: 200px;
}

.imgItem{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}