.containerCount{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: .8rem;
    margin-top: 2rem;
}

.containerCounter{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.buttonCount{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
}

.buttonCount:hover{
    transform: scale(1.2);
    transition: all .05s ease-in-out;
    cursor: pointer;
}

.inputCount{
    text-align: center;
    width: 40px;
    height: 40px;
}

.add{
    border: none;
    padding: 7px;
    border-radius: 5px ;
}

.add:hover{
    transform: scale(1.05);
    transition: all .05s ease-in-out;
    cursor: pointer;
}

